{% extends 'myapp/base.html' %}
{% load static %}
   {% block title %} details{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
      {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}
        <h1>Register Here</h1>
        <h3>Just fill out the form.</h3>
        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% if error_message %}
                            <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                        {% endif %}
<div class="row">

                            <label  class="col-md-5 control-label text-right">Username<span class="text-red">*</span>:</label>
                            <div class="col-md-3">
                                {{ user_form.username }}
                            </div>

</div>
                        <div class="form-group clearfix">
                            <label  class="col-md-4 control-label text-right">First name<span class="text-red">*</span>:</label>
                            <div class="col-md-6">
                                {{ profile_form.first_name }}
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label  class="col-md-4 control-label text-right">Last name<span class="text-red">*</span>:</label>
                            <div class="col-md-6">
                                {{ profile_form.last_name }}
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label  class="col-md-4 control-label text-right">DateOfBirth<span class="text-red">*</span>:</label>
                            <div class="col-md-6">
                                {{ profile_form.birth_date }}
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label  class="col-md-4 control-label text-right">Mobile<span class="text-red">*</span>:</label>
                            <div class="col-md-6">
                                {{ profile_form.mobile }}
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label  class="col-md-4 control-label text-right">Email<span class="text-red">*</span>:</label>
                            <div class="col-md-6">
                                {{ user_form.email }}
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label  class="col-md-4 control-label text-right">Password<span class="text-red">*</span>:</label>
                            <div class="col-md-6">
                                {{ user_form.password }}
                            </div>
                        </div>
                        <input type="submit" name="" value="Register">
                    </div>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}