{% extends 'polls/base.html' %}
    {% load static %}
   {% block title %} login{% endblock %}


{% block content %}

<div class="wrapper">
    <div class="title">Register Here</div>
    <div class="social_media">
    <div class="item">
      <i class="fab fa-facebook-f"></i>
    </div>
    <div class="item">
      <i class="fab fa-twitter"></i>
    </div>
    <div class="item">
      <i class="fab fa-google-plus-g"></i>
    </div>
  </div>
    <div class="form">
    <div class="input_field">
      <input type="text" placeholder="Name" class="input">
      <i class="fas fa-user"></i>
    </div>
    <div class="input_field">
      <input type="text" placeholder="Email" class="input">
      <i class="far fa-envelope"></i>
    </div>
    <div class="input_field">
      <input type="password" placeholder="Password" class="input">
      <i class="fas fa-lock"></i>
    </div>
    <div class="btn">
      <a href="#">Register</a>
    </div>
  </div>
</div>

{% endblock %}