{% load static %}

  {% block content %}
<div id="main">
        <nav>
            <a href="#"><img src="{% static 'images/logo5.png' %}" width="'300" height="80"></a>
            <ul>
                <li><a href="{% url 'polls:index' %}">home</a> </li>
                <li><a href="#">Gallery</a> </li>
                <li><a href="#">Contact</a> </li>
                <li><a href="#">About</a> </li>
                <li><a href="#">Download</a> </li>
                <li><a href="{% url 'polls:login' %}">Login</a> </li>
            </ul>
        </nav>

    </div>
  {% endblock %}