
{% extends 'app_search/base.html' %}
{% load static %}
   {% block title %} index{% endblock %}
{% block content %}
<main role="main">


        <div class="container">
            <h1 class="jumbotron-heading">Applicatin Details</h1>
            <div class="row">

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <p class="lead text-muted">{{ app.app_name }}</p>
                            <p class="lead text-muted">{{app.app_type }}</p>
                            <img src="{{ app.app_icon.url }}" height="100" />
                            <p class="lead text-muted">{{ app.developer_name }}</p>
                            <p class="lead text-muted">{{ app.no_of_downloads }}</p>
                            <p class="lead text-muted">{{ app.no_of_reviews}}</p>
                            <p class="lead text-muted">{{ app.app_rating}}</p>
                            <p class="lead text-muted">{{app.description }}</p>

                        </div>
                    </div>
                </div>

            </div>
            <p><a href="{% url 'home' %}" class="btn btn-primary my-2">Back</a></p>
        </div>
</main>
{% endblock %}